.DS_Store
node_modules
npm-debug.log
bower_components
dist
*.swp
yarn-error.log

*.db

_opam
_client
_deps
_server
local
.depend

# Machine-specific configuration
Makefile.localenv
pmp6.sexp

# ocsipersist sqlite database
ocsidb
