# DO NOT PUT ANY ACTUAL SECRET HERE

# This file is tracked by git and serves as an example schema of an
# actual config file. It should be copied to config.env, which will
# not be tracked, and then this config.env should be edited to
# contain the actual config that will be passed as environment
# variables to the website code (including secrets).

# MAKE THE ACTUAL SECRET FILE NON READABLE BY OTHERS

# See also Makefile.localenv.sample for local variables that are used
# before the code itself runs (eg. the TLS certificate).

SMTP_HOST=ssl0.ovh.net
SMTP_PORT=465
SMTP_USERNAME=noreply@pmp6.fr
SMTP_PASSWORD=******
SMTP_STARTTLS=false
