# DO NOT PUT ANY ACTUAL SECRET HERE

# This file is tracked by git and serves as an example schema of an
# actual secrets file. It should be copied to secrets.env, which will
# not be tracked, and then this secrets.env should be edited to
# contain the actual secrets that will be passed as environment
# variables to the website code.

# MAKE THE ACTUAL SECRETS FILE NON READABLE BY OTHERS

# See also Makefile.localenv.sample for local variables that are used
# before the code itself runs (eg. the TLS certificate).

SMTP_PASSWORD=******
SMTP_STARTTLS=false
