.orbit-slide {
    max-height: 30vh;
    width: auto;
}

body {
    background: $light-gray !important;
}

h1 {
    text-align: center;
}

.top-bar {
    .menu-title a {
        color: $light-gray;
        font-weight: bold;
    }

    .is-active > a {
        color: unset !important;
    }

    li, a, a:focus {
        color: $medium-gray;
        &:hover {
            color: $white ;
        }
    }

    .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
        // arrows
        border-color: $medium-gray rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }

    .is-dropdown-submenu {
        border: none;
    }
}

article {
    header {
        .pub-time {
            font-size: x-small;
            color: $dark-gray;
        }
    }
}

footer {
    background: $black;
    padding: 0.5rem;
    text-align: center;
    color: $dark-gray;

    a, a:focus {
        color: $dark-gray;
        &:hover {
            color: $light-gray;
        }
    }

    #immatriculation {
        font-size: small;
    }

    .icons {
        font-size: x-large;
    }
}
